#pwa-install-prompt {
    display: none;
    position: absolute;
    top: 100%;
    padding: 15px;
    background: #c9c9c9;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,-110%);
}
#pwa-install-prompt.show {
    display: block;
}
.prompt-buttons {
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#map {
    height: 800px;
    width: 1200px;
}