body {
    text-align: center;
}

#pwa-install-prompt {
    display: none;
    position: absolute;
    top: 100%;
    padding: 15px;
    background: #c9c9c9;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,-110%);
    z-index: 9;
}
#pwa-install-prompt.show {
    display: block;
}
.prompt-buttons {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#map {
    z-index: 1;
    height:  80vh;
    width: 80vh;
}